@font-face {
  font-family: "sofia-pro";
  src: url("Sofia\ Pro/SofiaPro-Regular.otf");
}

@font-face {
  font-family: "sofia-pro-bold";
  src: url("Sofia\ Pro/SofiaPro-Bold.otf");
}

:root {
  --phamento-color: #3d6582;
  --phamento-color-light: #c0cfda;
  --phamento-color-dark: #1c2e3b;
}

body {
  margin: 0;
  font-family: "sofia-pro";
}

hr {
  margin: 10 0 0 0;
  /* color: var(--phamento-color); */
  border: 1px solid var(--phamento-color);
}

.phamento-bold {
  font-family: "sofia-pro-bold";
}

.wrapper {
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.navbar {
  height: 150px;
  width: 100%;
  background-color: white;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 5 0 5 0;
}

/* .logo {
  border: 2px solid var(--phamento-color);
  margin: 0;
  padding: 0 0.3em 0 0.3em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--phamento-color);
  text-align: center;
  height: 2em;
  width: 7.75em;
  font-size: 36px;
} */

.logo {
  margin: 0;
  padding: 0 0.3rem 0 0.3 rem;
  display: flex;
  align-items: center;
  height: 2em;
  width: 7.75em;
}

.nav-links {
  display: flex;
  height: 100%;
  align-items: center;
}

.nav-link {
  display: flex;
  height: 86px;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 15 0 15;
  text-decoration: none;
  color: var(--phamento-color);
  font-size: 24px;
  margin-right: 10px;
  border-top: 4px solid transparent;
}

.nav-link:hover {
  border-top: 4px solid var(--phamento-color);
}

.nav-link-active {
  border-top: 4px solid var(--phamento-color);
  font-family: "sofia-pro-bold";
}

.section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}

.section-content {
  width: 100%;
  height: 100%;
  padding-left: 80px;
  padding-right: 80px;
}

.content-header {
  font-size: 72px;
  margin: 0;
}

#hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("Images/tea1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

#hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-header {
  margin: 10px;
  text-align: center;
}

#about-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: black;
  /* gap: 75px; */
}

#about-img {
  display: flex;
  flex-direction: row;
  gap: 50px;
  width: 100%;
  height: 600px;
}

#about-header {
  line-height: 1;
  margin-bottom: 20px;
  color: var(--phamento-color);
  text-align: center;
}

#about-content-text {
  font-size: 28px;
  line-height: 1.6;
}

#menu {
  background-color: var(--phamento-color-light);
}

#menu-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu-section {
  width: 100%;
  text-align: center;
}

.menu-header {
  color: var(--phamento-color);
  text-align: center;
}

.menu-price {
  display: inline;
  font-size: 40px;
  margin: 0.5em;
  text-align: center;
}

.price {
  color: var(--phamento-color);
}

.menu-grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  text-align: center;
  font-size: 36px;
  margin-top: 50px;
  margin-bottom: 50px;
}

#menu-grid-drinks {
  gap: 0 1em;
}

#menu-grid-toppings {
  gap: 0;
}

.menu-grid-col {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-bottom: 50px;
}

.menu-drinks-type {
  color: var(--phamento-color);
}

#contact-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#logo-contact {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 36px;
}

.contact-header {
  font-size: 48px;
  color: var(--phamento-color);
}

.contact-line {
  font-size: 28px;
  line-height: 1.6;
  color: black;
}

#footer {
  background-color: var(--phamento-color);
}

#footer-content {
  color: white;
  font-size: 24px;
  text-align: center;
}

a.button {
  text-decoration: none;
  margin: 50px;
}

.button-phamento {
  border-radius: 50px;
  height: 85px;
  width: 298px;
  font-family: "sofia-pro-bold";
  font-size: 36px;
  background-color: var(--phamento-color);
  color: white;
  border-style: none;
}

.button-phamento:hover {
  background-color: var(--phamento-color-dark);
}
