  .div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: rgba(255, 255, 255, 1);
  }
  .div-2 {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 1);
  }
  .columns {
    display: flex;
  }
  @media (max-width: 999px) {
    .columns {
      flex-direction: column;
      align-items: stretch;
    }
  }
  .column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(100.63% - 0px);
    margin-left: 0px;
  }
  @media (max-width: 999px) {
    .column {
      width: 100%;
    }
  }
  .navbar {
    display: flex;
    flex-direction: columns;
  }
  .column-2 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    margin-left: 0px;
  }
  @media (max-width: 999px) {
    .column-2 {
      width: 100%;
    }
  }
  .div-4 {
    display: flex;
    flex-direction: row;
    max-width: 256px;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 19px;
    padding-left: 19px;
    border-color: rgba(61, 101, 130, 1);
    border-width: 2px;
    border-style: solid;
    background-color: rgba(255, 255, 255, 0);
    color: rgba(61, 101, 130, 1);
    font-size: 36px;
    letter-spacing: 0%;
    text-align: left;
    font-family: Sofia Pro, sans-serif;
  }
  .column-3 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(51.68% - 10px);
    margin-left: 20px;
  }
  @media (max-width: 999px) {
    .column-3 {
      width: 100%;
    }
  }
  .div-5 {
    display: flex;
    flex-direction: column;
    max-width: 669.2314453125px;
  }
  .column-4 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(25.09% - 15px);
    margin-left: 0px;
  }
  @media (max-width: 999px) {
    .column-4 {
      width: 100%;
    }
  }
  .div-6 {
    display: flex;
    flex-direction: column;
    max-width: 119px;
    justify-content: flex-start;
  }
  .div-7 {
    display: flex;
    max-width: 118.624267578125px;
    height: 0px;
    width: 118.624267578125px;
    border-color: rgba(61, 101, 130, 1);
    border-width: 5px;
    border-style: solid;
  }
  .div-8 {
    max-width: 119px;
    color: rgba(61, 101, 130, 1);
    font-size: 24px;
    letter-spacing: 0%;
    text-align: center;
    font-family: Sofia Pro, sans-serif;
  }
  .column-5 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(26.41% - 15px);
    margin-left: 20px;
  }
  @media (max-width: 999px) {
    .column-5 {
      width: 100%;
    }
  }
  .div-9 {
    display: flex;
    flex-direction: row;
    max-width: 125.23143005371094px;
    justify-content: flex-start;
    align-items: flex-start;
    color: rgba(61, 101, 130, 1);
    font-size: 24px;
    letter-spacing: 0%;
    text-align: center;
    font-family: Sofia Pro, sans-serif;
  }
  .column-6 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(25.73% - 15px);
    margin-left: 20px;
  }
  @media (max-width: 999px) {
    .column-6 {
      width: 100%;
    }
  }
  .div-10 {
    display: flex;
    flex-direction: row;
    max-width: 122px;
    justify-content: flex-start;
    align-items: flex-start;
    color: rgba(61, 101, 130, 1);
    font-size: 24px;
    letter-spacing: 0%;
    text-align: center;
    font-family: Sofia Pro, sans-serif;
  }
  .column-7 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(32.9% - 15px);
    margin-left: 20px;
  }
  @media (max-width: 999px) {
    .column-7 {
      width: 100%;
    }
  }
  .div-11 {
    display: flex;
    flex-direction: row;
    max-width: 156.00001525878906px;
    justify-content: flex-start;
    align-items: flex-start;
    color: rgba(61, 101, 130, 1);
    font-size: 24px;
    letter-spacing: 0%;
    text-align: center;
    font-family: Sofia Pro, sans-serif;
  }
  .div-12 {
    display: flex;
    flex-direction: column;
    max-width: 1439px;
    background-image: url("https://cdn.builder.io/api/v1/image/assets%2Fpwgjf0RoYWbdnJSbpBAjXNRMe9F2%2Ffb27a7c790324294af8be1c35fe30f4d");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .column-8 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(78.22% - 0px);
    margin-left: 0px;
  }
  @media (max-width: 999px) {
    .column-8 {
      width: 100%;
    }
  }
  .div-13 {
    display: flex;
    flex-direction: column;
    max-width: 1002px;
    justify-content: center;
  }
  .div-14 {
    max-width: 772px;
    color: rgba(255, 255, 255, 1);
    font-size: 72px;
    letter-spacing: 0%;
    text-align: center;
    font-family: Abel, sans-serif;
  }
  .this-german-tea-is-really-good {
    max-width: 763.2233276367188px;
    margin-top: 40px;
    color: rgba(255, 255, 255, 1);
    font-size: 36px;
    letter-spacing: 0%;
    text-align: center;
    font-family: Sofia Pro, sans-serif;
  }
  .div-15 {
    display: flex;
    flex-direction: row;
    max-width: 96px;
    justify-content: center;
    margin-top: 40px;
    border-radius: 50px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 120px;
    padding-left: 120px;
    background-color: rgba(61, 101, 130, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 36px;
    letter-spacing: 0%;
    text-align: center;
    font-family: Sofia Pro, sans-serif;
  }
  .div-16 {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-right: 78px;
    padding-left: 78px;
  }
  .div-17 {
    display: flex;
    flex-direction: column;
    max-width: 1269px;
  }
  .column-9 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(57.09% - 10px);
    margin-left: 0px;
  }
  @media (max-width: 999px) {
    .column-9 {
      width: 100%;
    }
  }
  .div-18 {
    display: flex;
    flex-grow: 1;
    position: relative;
    min-width: 20px;
    min-height: 20px;
    max-width: 644px;
  }
  .image {
    object-fit: cover;
    object-position: center;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
  .image-sizer {
    width: 100%;
    padding-top: 82.14285714285714%;
    pointer-events: none;
    font-size: 0;
  }
  .column-10 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(48.67% - 10px);
    margin-left: 20px;
  }
  @media (max-width: 999px) {
    .column-10 {
      width: 100%;
    }
  }
  .div-19 {
    display: flex;
    flex-direction: column;
    max-width: 549.053466796875px;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .div-20 {
    max-width: 253.25694274902344px;
    color: rgba(61, 101, 130, 1);
    font-size: 48px;
    letter-spacing: 0%;
    text-align: left;
    font-family: Sofia Pro, sans-serif;
  }
  .lorem-ipsum-dolor-sit-amet-co {
    max-width: 549.053466796875px;
    margin-top: 32px;
    color: rgba(97, 97, 97, 1);
    font-size: 28px;
    line-height: 161.899995803833%;
    letter-spacing: 0%;
    text-align: left;
    font-family: Sofia Pro, sans-serif;
  }
  .div-21 {
    display: flex;
    flex-direction: column;
    max-width: 1439px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 85px;
    padding-left: 85px;
    background-color: rgba(192, 207, 218, 1);
  }
  .column-11 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(100.71% - 0px);
    margin-left: 0px;
  }
  @media (max-width: 999px) {
    .column-11 {
      width: 100%;
    }
  }
  .div-22 {
    display: flex;
    flex-direction: column;
    max-width: 1269px;
    justify-content: flex-start;
  }
  .div-23 {
    display: flex;
    flex-direction: column;
    max-width: 1233px;
    justify-content: flex-start;
  }
  .div-24 {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    justify-content: flex-start;
  }
  .div-25 {
    max-width: 350px;
    color: rgba(61, 101, 130, 1);
    font-size: 48px;
    letter-spacing: 0%;
    text-align: center;
    font-family: Abel, sans-serif;
  }
  .div-26 {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    margin-top: 7px;
  }
  .column-12 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(56.72% - 10px);
    margin-left: 0px;
  }
  @media (max-width: 999px) {
    .column-12 {
      width: 100%;
    }
  }
  .div-27 {
    max-width: 173px;
    line-height: 148.89999628067017%;
    letter-spacing: 0%;
    text-align: center;
    font-family: Abel, sans-serif;
  }
  .column-13 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(50.49% - 10px);
    margin-left: 20px;
  }
  @media (max-width: 999px) {
    .column-13 {
      width: 100%;
    }
  }
  .div-28 {
    max-width: 154px;
    font-size: 40px;
    line-height: 148.89999628067017%;
    letter-spacing: 0%;
    text-align: center;
    font-family: Abel, sans-serif;
  }
  .div-29 {
    display: flex;
    flex-direction: column;
    max-width: 1233px;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 71px;
  }
  .div-30 {
    display: flex;
    flex-direction: column;
    max-width: 1233px;
    justify-content: flex-start;
  }
  .div-31 {
    display: flex;
    flex-direction: column;
    max-width: 1233px;
  }
  .column-14 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(25.12% - 15px);
    margin-left: 0px;
  }
  @media (max-width: 999px) {
    .column-14 {
      width: 100%;
    }
  }
  .div-32 {
    max-width: 305px;
    color: rgba(61, 101, 130, 1);
    font-size: 36px;
    line-height: 148.89999628067017%;
    letter-spacing: 5%;
    text-align: center;
    font-family: Abel, sans-serif;
  }
  .column-15 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(25.12% - 15px);
    margin-left: 20px;
  }
  @media (max-width: 999px) {
    .column-15 {
      width: 100%;
    }
  }
  .div-33 {
    max-width: 305px;
    color: rgba(61, 101, 130, 1);
    font-size: 36px;
    line-height: 148.89999628067017%;
    letter-spacing: 5%;
    text-align: center;
    font-family: Abel, sans-serif;
  }
  .column-16 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(25.12% - 15px);
    margin-left: 20px;
  }
  @media (max-width: 999px) {
    .column-16 {
      width: 100%;
    }
  }
  .div-34 {
    max-width: 305px;
    color: rgba(61, 101, 130, 1);
    font-size: 36px;
    line-height: 148.89999628067017%;
    letter-spacing: 5%;
    text-align: center;
    font-family: Abel, sans-serif;
  }
  .column-17 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(25.12% - 15px);
    margin-left: 20px;
  }
  @media (max-width: 999px) {
    .column-17 {
      width: 100%;
    }
  }
  .div-35 {
    max-width: 305px;
    color: rgba(61, 101, 130, 1);
    font-size: 36px;
    line-height: 148.89999628067017%;
    letter-spacing: 5%;
    text-align: center;
    font-family: Abel, sans-serif;
  }
  .div-36 {
    display: flex;
    max-width: 1233px;
    height: 0px;
    width: 1233px;
    margin-top: 6px;
    border-color: rgba(61, 101, 130, 1);
    border-width: 2px;
    border-style: solid;
  }
  .div-37 {
    display: flex;
    flex-direction: column;
    max-width: 1233px;
    justify-content: flex-start;
    margin-top: 5px;
  }
  .div-38 {
    display: flex;
    flex-direction: column;
    max-width: 1233px;
  }
  .column-18 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(25.12% - 15px);
    margin-left: 0px;
  }
  @media (max-width: 999px) {
    .column-18 {
      width: 100%;
    }
  }
  .div-39 {
    max-width: 305px;
    color: rgba(255, 255, 255, 1);
    font-size: 36px;
    line-height: 148.89999628067017%;
    letter-spacing: 5%;
    text-align: center;
    font-family: Abel, sans-serif;
  }
  .column-19 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(25.12% - 15px);
    margin-left: 20px;
  }
  @media (max-width: 999px) {
    .column-19 {
      width: 100%;
    }
  }
  .div-40 {
    max-width: 305px;
    color: rgba(255, 255, 255, 1);
    font-size: 36px;
    line-height: 148.89999628067017%;
    letter-spacing: 5%;
    text-align: center;
    font-family: Abel, sans-serif;
  }
  .column-20 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(25.12% - 15px);
    margin-left: 20px;
  }
  @media (max-width: 999px) {
    .column-20 {
      width: 100%;
    }
  }
  .div-41 {
    max-width: 305px;
    color: rgba(255, 255, 255, 1);
    font-size: 36px;
    line-height: 148.89999628067017%;
    letter-spacing: 5%;
    text-align: center;
    font-family: Abel, sans-serif;
  }
  .column-21 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(25.12% - 15px);
    margin-left: 20px;
  }
  @media (max-width: 999px) {
    .column-21 {
      width: 100%;
    }
  }
  .div-42 {
    max-width: 305px;
    color: rgba(255, 255, 255, 1);
    font-size: 36px;
    line-height: 148.89999628067017%;
    letter-spacing: 5%;
    text-align: center;
    font-family: Abel, sans-serif;
  }
  .div-43 {
    display: flex;
    flex-direction: column;
    max-width: 1233px;
    justify-content: flex-start;
    margin-top: 5px;
  }
  .div-44 {
    display: flex;
    flex-direction: column;
    max-width: 1233px;
  }
  .column-22 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(25.12% - 15px);
    margin-left: 0px;
  }
  @media (max-width: 999px) {
    .column-22 {
      width: 100%;
    }
  }
  .div-45 {
    max-width: 305px;
    color: rgba(255, 255, 255, 1);
    font-size: 36px;
    line-height: 148.89999628067017%;
    letter-spacing: 5%;
    text-align: center;
    font-family: Abel, sans-serif;
  }
  .column-23 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(25.12% - 15px);
    margin-left: 20px;
  }
  @media (max-width: 999px) {
    .column-23 {
      width: 100%;
    }
  }
  .div-46 {
    max-width: 305px;
    color: rgba(255, 255, 255, 1);
    font-size: 36px;
    line-height: 148.89999628067017%;
    letter-spacing: 5%;
    text-align: center;
    font-family: Abel, sans-serif;
  }
  .column-24 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(25.12% - 15px);
    margin-left: 20px;
  }
  @media (max-width: 999px) {
    .column-24 {
      width: 100%;
    }
  }
  .div-47 {
    max-width: 305px;
    color: rgba(255, 255, 255, 1);
    font-size: 36px;
    line-height: 148.89999628067017%;
    letter-spacing: 5%;
    text-align: center;
    font-family: Abel, sans-serif;
  }
  .column-25 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(24.96% - 15px);
    margin-left: 20px;
  }
  @media (max-width: 999px) {
    .column-25 {
      width: 100%;
    }
  }
  .div-48 {
    max-width: 303px;
    color: rgba(255, 255, 255, 1);
    font-size: 36px;
    line-height: 148.89999628067017%;
    letter-spacing: 5%;
    text-align: center;
    font-family: Abel, sans-serif;
  }
  .div-49 {
    display: flex;
    flex-direction: column;
    max-width: 1233px;
    justify-content: flex-start;
    margin-top: 5px;
  }
  .div-50 {
    display: flex;
    flex-direction: column;
    max-width: 1233px;
  }
  .column-26 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(25.02% - 13.333333333333334px);
    margin-left: 0px;
  }
  @media (max-width: 999px) {
    .column-26 {
      width: 100%;
    }
  }
  .div-51 {
    max-width: 305px;
    color: rgba(255, 255, 255, 1);
    font-size: 36px;
    line-height: 148.89999628067017%;
    letter-spacing: 5%;
    text-align: center;
    font-family: Abel, sans-serif;
  }
  .column-27 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(25.02% - 13.333333333333334px);
    margin-left: 20px;
  }
  @media (max-width: 999px) {
    .column-27 {
      width: 100%;
    }
  }
  .div-52 {
    max-width: 305px;
    color: rgba(255, 255, 255, 1);
    font-size: 36px;
    line-height: 148.89999628067017%;
    letter-spacing: 5%;
    text-align: center;
    font-family: Abel, sans-serif;
  }
  .column-28 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(25.02% - 13.333333333333334px);
    margin-left: 20px;
  }
  @media (max-width: 999px) {
    .column-28 {
      width: 100%;
    }
  }
  .div-53 {
    max-width: 305px;
    color: rgba(255, 255, 255, 1);
    font-size: 36px;
    line-height: 148.89999628067017%;
    letter-spacing: 5%;
    text-align: center;
    font-family: Abel, sans-serif;
  }
  .div-54 {
    display: flex;
    flex-direction: column;
    max-width: 1233px;
    justify-content: flex-start;
    margin-top: 5px;
  }
  .div-55 {
    display: flex;
    flex-direction: column;
    max-width: 1233px;
  }
  .column-29 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(25.02% - 13.333333333333334px);
    margin-left: 0px;
  }
  @media (max-width: 999px) {
    .column-29 {
      width: 100%;
    }
  }
  .div-56 {
    max-width: 305px;
    color: rgba(255, 255, 255, 1);
    font-size: 36px;
    line-height: 148.89999628067017%;
    letter-spacing: 5%;
    text-align: center;
    font-family: Abel, sans-serif;
  }
  .column-30 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(25.02% - 13.333333333333334px);
    margin-left: 20px;
  }
  @media (max-width: 999px) {
    .column-30 {
      width: 100%;
    }
  }
  .div-57 {
    max-width: 305px;
    color: rgba(255, 255, 255, 1);
    font-size: 36px;
    line-height: 148.89999628067017%;
    letter-spacing: 5%;
    text-align: center;
    font-family: Abel, sans-serif;
  }
  .column-31 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(25.02% - 13.333333333333334px);
    margin-left: 20px;
  }
  @media (max-width: 999px) {
    .column-31 {
      width: 100%;
    }
  }
  .div-58 {
    max-width: 305px;
    color: rgba(255, 255, 255, 1);
    font-size: 36px;
    line-height: 148.89999628067017%;
    letter-spacing: 5%;
    text-align: center;
    font-family: Abel, sans-serif;
  }
  .div-59 {
    display: flex;
    flex-direction: column;
    max-width: 1233px;
    justify-content: flex-start;
    margin-top: 5px;
  }
  .div-60 {
    display: flex;
    flex-direction: column;
    max-width: 1233px;
  }
  .column-32 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(25.02% - 13.333333333333334px);
    margin-left: 0px;
  }
  @media (max-width: 999px) {
    .column-32 {
      width: 100%;
    }
  }
  .div-61 {
    max-width: 305px;
    color: rgba(255, 255, 255, 1);
    font-size: 36px;
    line-height: 148.89999628067017%;
    letter-spacing: 5%;
    text-align: center;
    font-family: Abel, sans-serif;
  }
  .column-33 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(25.02% - 13.333333333333334px);
    margin-left: 20px;
  }
  @media (max-width: 999px) {
    .column-33 {
      width: 100%;
    }
  }
  .div-62 {
    max-width: 305px;
    color: rgba(255, 255, 255, 1);
    font-size: 36px;
    line-height: 148.89999628067017%;
    letter-spacing: 5%;
    text-align: center;
    font-family: Abel, sans-serif;
  }
  .column-34 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(25.02% - 13.333333333333334px);
    margin-left: 20px;
  }
  @media (max-width: 999px) {
    .column-34 {
      width: 100%;
    }
  }
  .div-63 {
    max-width: 305px;
    color: rgba(255, 255, 255, 1);
    font-size: 36px;
    line-height: 148.89999628067017%;
    letter-spacing: 5%;
    text-align: center;
    font-family: Abel, sans-serif;
  }
  .div-64 {
    display: flex;
    flex-direction: column;
    max-width: 1233px;
    justify-content: flex-start;
    margin-top: 5px;
  }
  .div-65 {
    display: flex;
    flex-direction: row;
    max-width: 1233px;
    justify-content: flex-start;
  }
  .div-66 {
    max-width: 305px;
    color: rgba(255, 255, 255, 1);
    font-size: 36px;
    line-height: 148.89999628067017%;
    letter-spacing: 5%;
    text-align: center;
    font-family: Abel, sans-serif;
  }
  .div-67 {
    max-width: 305px;
    margin-left: 5px;
    color: rgba(255, 255, 255, 1);
    font-size: 36px;
    line-height: 148.89999628067017%;
    letter-spacing: 5%;
    text-align: center;
    font-family: Abel, sans-serif;
  }
  .div-68 {
    display: flex;
    flex-direction: column;
    max-width: 1233px;
    justify-content: flex-start;
    margin-top: 5px;
  }
  .div-69 {
    display: flex;
    flex-direction: row;
    max-width: 1233px;
    justify-content: flex-start;
  }
  .div-70 {
    max-width: 305px;
    color: rgba(255, 255, 255, 1);
    font-size: 36px;
    line-height: 148.89999628067017%;
    letter-spacing: 5%;
    text-align: center;
    font-family: Abel, sans-serif;
  }
  .div-71 {
    max-width: 305px;
    margin-left: 5px;
    color: rgba(255, 255, 255, 1);
    font-size: 36px;
    line-height: 148.89999628067017%;
    letter-spacing: 5%;
    text-align: center;
    font-family: Abel, sans-serif;
  }
  .div-72 {
    display: flex;
    flex-direction: column;
    max-width: 1233px;
    justify-content: flex-start;
    margin-top: 5px;
  }
  .div-73 {
    display: flex;
    flex-direction: row;
    max-width: 1233px;
    justify-content: flex-start;
  }
  .div-74 {
    max-width: 305px;
    color: rgba(255, 255, 255, 1);
    font-size: 36px;
    line-height: 148.89999628067017%;
    letter-spacing: 5%;
    text-align: center;
    font-family: Abel, sans-serif;
  }
  .div-75 {
    max-width: 305px;
    margin-left: 5px;
    color: rgba(255, 255, 255, 1);
    font-size: 36px;
    line-height: 148.89999628067017%;
    letter-spacing: 5%;
    text-align: center;
    font-family: Abel, sans-serif;
  }
  .div-76 {
    display: flex;
    flex-direction: column;
    max-width: 1233px;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .div-77 {
    display: flex;
    flex-direction: column;
    max-width: 1233px;
    justify-content: flex-start;
  }
  .div-78 {
    max-width: 273px;
    color: rgba(61, 101, 130, 1);
    font-size: 48px;
    letter-spacing: 0%;
    text-align: left;
    font-family: Sofia Pro, sans-serif;
  }
  .div-79 {
    max-width: 112px;
    margin-top: 10px;
    font-size: 40px;
    line-height: 148.89999628067017%;
    letter-spacing: 0%;
    text-align: center;
  }
  .div-80 {
    display: flex;
    max-width: 1233px;
    height: 0px;
    width: 1233px;
    margin-top: 10px;
    border-color: rgba(61, 101, 130, 1);
    border-width: 2px;
    border-style: solid;
  }
  .div-81 {
    display: flex;
    flex-direction: column;
    max-width: 1233px;
    justify-content: flex-start;
    margin-top: 8px;
  }
  .div-82 {
    display: flex;
    flex-direction: column;
    max-width: 1233px;
    justify-content: flex-start;
  }
  .div-83 {
    display: flex;
    flex-direction: column;
    max-width: 1233px;
  }
  .column-35 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(25.12% - 15px);
    margin-left: 0px;
  }
  @media (max-width: 999px) {
    .column-35 {
      width: 100%;
    }
  }
  .div-84 {
    max-width: 305px;
    color: rgba(255, 255, 255, 1);
    font-size: 30px;
    line-height: 148.89999628067017%;
    letter-spacing: 10%;
    text-align: center;
    font-family: Poppins, sans-serif;
  }
  .column-36 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(25.12% - 15px);
    margin-left: 20px;
  }
  @media (max-width: 999px) {
    .column-36 {
      width: 100%;
    }
  }
  .div-85 {
    max-width: 305px;
    color: rgba(255, 255, 255, 1);
    font-size: 30px;
    line-height: 148.89999628067017%;
    letter-spacing: 10%;
    text-align: center;
    font-family: Poppins, sans-serif;
  }
  .column-37 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(25.12% - 15px);
    margin-left: 20px;
  }
  @media (max-width: 999px) {
    .column-37 {
      width: 100%;
    }
  }
  .div-86 {
    max-width: 305px;
    color: rgba(255, 255, 255, 1);
    font-size: 30px;
    line-height: 148.89999628067017%;
    letter-spacing: 10%;
    text-align: center;
    font-family: Poppins, sans-serif;
  }
  .column-38 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(25.12% - 15px);
    margin-left: 20px;
  }
  @media (max-width: 999px) {
    .column-38 {
      width: 100%;
    }
  }
  .div-87 {
    max-width: 305px;
    color: rgba(255, 255, 255, 1);
    font-size: 30px;
    line-height: 148.89999628067017%;
    letter-spacing: 10%;
    text-align: center;
    font-family: Poppins, sans-serif;
  }
  .div-88 {
    display: flex;
    flex-direction: column;
    max-width: 1233px;
    justify-content: flex-start;
    margin-top: 10px;
  }
  .div-89 {
    display: flex;
    flex-direction: column;
    max-width: 1233px;
  }
  .column-39 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(25.02% - 13.333333333333334px);
    margin-left: 0px;
  }
  @media (max-width: 999px) {
    .column-39 {
      width: 100%;
    }
  }
  .div-90 {
    max-width: 305px;
    color: rgba(255, 255, 255, 1);
    font-size: 30px;
    line-height: 148.89999628067017%;
    letter-spacing: 10%;
    text-align: center;
    font-family: Poppins, sans-serif;
  }
  .column-40 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(25.02% - 13.333333333333334px);
    margin-left: 20px;
  }
  @media (max-width: 999px) {
    .column-40 {
      width: 100%;
    }
  }
  .div-91 {
    max-width: 305px;
    color: rgba(255, 255, 255, 1);
    font-size: 30px;
    line-height: 148.89999628067017%;
    letter-spacing: 10%;
    text-align: center;
    font-family: Poppins, sans-serif;
  }
  .column-41 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(25.02% - 13.333333333333334px);
    margin-left: 20px;
  }
  @media (max-width: 999px) {
    .column-41 {
      width: 100%;
    }
  }
  .div-92 {
    max-width: 305px;
    color: rgba(255, 255, 255, 1);
    font-size: 30px;
    line-height: 148.89999628067017%;
    letter-spacing: 10%;
    text-align: center;
    font-family: Poppins, sans-serif;
  }
  .div-93 {
    display: flex;
    flex-direction: column;
    max-width: 1439px;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-right: 85px;
    padding-left: 85px;
    background-color: rgba(255, 255, 255, 1);
  }
  .div-94 {
    display: flex;
    flex-direction: column;
    max-width: 1269px;
  }
  .column-42 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(47.4% - 13.333333333333334px);
    margin-left: 0px;
  }
  @media (max-width: 999px) {
    .column-42 {
      width: 100%;
    }
  }
  .div-95 {
    display: flex;
    flex-direction: column;
    max-width: 425.6813659667969px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-right: 28px;
    padding-left: 28px;
    border-color: rgba(61, 101, 130, 1);
    border-width: 2px;
    border-style: solid;
    background-color: rgba(255, 255, 255, 0);
  }
  .column-43 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(102.5% - 0px);
    margin-left: 0px;
  }
  @media (max-width: 999px) {
    .column-43 {
      width: 100%;
    }
  }
  .div-96 {
    max-width: 369.6813659667969px;
    color: rgba(61, 101, 130, 1);
    font-size: 50px;
    letter-spacing: 0%;
    text-align: center;
    font-family: Sofia Pro, sans-serif;
  }
  .column-44 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(39.7% - 13.333333333333334px);
    margin-left: 20px;
  }
  @media (max-width: 999px) {
    .column-44 {
      width: 100%;
    }
  }
  .div-97 {
    display: flex;
    flex-direction: column;
    max-width: 356.4648132324219px;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .div-98 {
    max-width: 232.2010040283203px;
    color: rgba(61, 101, 130, 1);
    font-size: 48px;
    letter-spacing: 0%;
    text-align: left;
    font-family: Sofia Pro, sans-serif;
  }
  .montag-abgeschlossen-dienstag {
    max-width: 356.4648132324219px;
    margin-top: 50px;
    color: rgba(97, 97, 97, 1);
    font-size: 30px;
    line-height: 161.899995803833%;
    letter-spacing: 0%;
    text-align: left;
  }
  .column-45 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(26.61% - 13.333333333333334px);
    margin-left: 20px;
  }
  @media (max-width: 999px) {
    .column-45 {
      width: 100%;
    }
  }
  .div-99 {
    display: flex;
    flex-direction: column;
    max-width: 239px;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .div-100 {
    max-width: 155.68447875976562px;
    color: rgba(61, 101, 130, 1);
    font-size: 48px;
    letter-spacing: 0%;
    text-align: left;
    font-family: Sofia Pro, sans-serif;
  }
  .div-101 {
    max-width: 239px;
    margin-top: 30px;
    color: rgba(97, 97, 97, 1);
    font-size: 30px;
    line-height: 161.899995803833%;
    letter-spacing: 0%;
    text-align: left;
    font-family: Sofia Pro, sans-serif;
  }
  .2022-phamento-llc-website-cr {
    display: flex;
    flex-direction: row;
    max-width: 390px;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 22px;
    padding-bottom: 22px;
    padding-right: 523px;
    padding-left: 523px;
    background-color: rgba(61, 101, 130, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
    line-height: 161.899995803833%;
    letter-spacing: 0%;
    text-align: center;
  }