@font-face {
  font-family: 'sofia-pro';
  src: url('Sofia\ Pro/SofiaPro-Regular.otf')
}

:root {
  --phamento-color: #3D6582;
}

body {
  margin: 0;
  font-family: 'sofia-pro';
}

.wrapper {
  width: 100%;
  padding: 0;
}

.navbar {
  height: 88px;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10 0 10 0;
  background-color: tomato;
}

.logo {
  /* height: 68px; */
  /* width: 294px; */
  border: 2px solid var(--phamento-color);
  margin: 0;
  padding: 0 10 0 10;
  display: inline;
}

.logo-text {
  font-size: 2.3em;
  /* font-size: 36; */
  color: var(--phamento-color);
  text-align: center;
  display: inline;
  margin: 0;
}