@font-face {
  font-family: "sofia-pro";
  src: url("font/SofiaPro-Regular.otf");
}

@font-face {
  font-family: "sofia-pro-bold";
  src: url("font/SofiaPro-Bold.otf");
}

:root {
  --phamento-color: #3d6582;
  --phamento-color-light: #c0cfda;
  --phamento-color-dark: #1c2e3b;
}

html {
  font-size: 75%;
}

body {
  margin: 0;
  font-family: "sofia-pro";
}

hr {
  margin: 10 0 0 0;
  border: 1px solid var(--phamento-color);
  z-index: -1;
}

.phamento-bold {
  font-family: "sofia-pro-bold";
}

.wrapper {
  display: flex;
  flex-direction: column;
}

a.button {
  text-decoration: none;
}

button.navbar-toggler {
  font-size: 2rem;
}

.button-phamento {
  border-radius: 50px;
  font-family: "sofia-pro-bold";
  background-color: var(--phamento-color);
  color: white;
  border-style: none;
}

.button-phamento:hover {
  background-color: var(--phamento-color-dark);
}

#button-nav-menu {
  font-size: 2rem;
  width: 5em;
  height: 2em;
  margin-left: 40px;
}

#button-hero {
  height: 2.5em;
  width: 7em;
  font-size: 3rem;
  margin: 50px;
}
@media only screen and (max-width: 575px) {
  #button-hero  { 
     font-size: 2rem; 
  }
}

.navbar {
  height: 150px;
}

.navbar-wrapper {
  background-color: white;
  z-index: 1;
}

.logo {
  margin: 0;
  display: flex;
  align-items: center;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(61,101,130,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: var(--phamento-color);
  margin-left: 50px;
} 

.custom-toggler.navbar-toggler:focus {
  box-shadow: none;
  border: 2px solid var(--phamento-color);
} 

#logo-nav {
  height: 100%;
  flex-grow: inherit;
}

#logo-img-nav {
  height: 100%;
  width: auto;
}

#logo-img-contact {
  height: 100%;
  width: auto;
}

.collapse.navbar-collapse {
  height: 100%;
  margin-left: 50px;
}

.show.collapse.navbar-collapse {
  width: 100vw;
  height: auto;
  margin-left: 0;
}

.show.collapse.navbar-collapse > .navbar-nav > .nav-item,
.collapsing.navbar-collapse > .navbar-nav > .nav-item {
  font-size: 3rem;
  margin-left: 0;
  margin-right: 0;
  border-bottom: 1px solid rgb(221, 221, 221);
}

.collapse.navbar-collapse > .navbar-nav > .nav-item {
  font-size: 1.5rem;
  margin-left: 10px;
  margin-right: 10px;
}

#navbarSupportedContent {
  justify-content: center;
}

.navbar-nav {
  height: 100%;
}

.nav-item {
  background-color: white;
}

.nav-link {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
  color: var(--phamento-color) !important;
  border-top: 4px solid transparent;
  letter-spacing: 0.4rem;
}

.nav-link:hover {
  border-top: 4px solid var(--phamento-color) !important;
}
@media(max-width: 991px) {
  .nav-link:hover {
    background-color: var(--phamento-color) !important;
    color: white !important;
  }
}

.nav-link-active {
  border-top: 4px solid var(--phamento-color);
  font-family: "sofia-pro-bold";
}
@media(max-width: 991px) {
  .nav-link-active {
    background-color: var(--phamento-color) !important;
    color: white !important;
  }
}

.nav-link-language {
  background-color: var(--phamento-color-light);
}

#eng {
  border-top: 4px solid var(--phamento-color);
}

#language-dropdown {
  margin-top: -1.875rem;
}

#language2 {
  color: var(--phamento-color);
  font-size: 1.25rem;
}

.section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}
.section-content {
  width: 100%;
  height: 100%;
}

.content-header {
  word-wrap: break-word;
  font-size: 6rem;
  letter-spacing: 1.5rem;
  margin: 0;
}
@media only screen and (max-width: 575px) {
  .content-header  { 
     font-size: 4rem; 
  }
}

#hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("img/tea (2).jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: 150px;
}

#hero-header-main {
  font-family: 'sofia-pro-bold';
  font-size: 8rem;
}
@media only screen and (max-width: 575px) {
  #hero-header-main  { 
     font-size: 5rem; 
  }
}

#hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-header {
  margin: 10px;
  text-align: center;
}
@media only screen and (max-width: 575px) {
  .hero-header  { 
     font-size: 2rem; 
  }
}

#about-content {
  color: black;
}

#about-header {
  line-height: 1;
  margin-bottom: 50px;
  color: var(--phamento-color);
  text-align: center;
}

#about-content-text {
  font-size: 2.25rem;
  line-height: 1.6;
}

#about-img {
  height: 700px;
  width: auto;
  max-width: 550px;
}
@media(max-width: 575px) {
  #about-img {
    height: 400px;
  }
}

#menu {
  background-color: var(--phamento-color-light);
}

.menu-section {
  width: 100%;
  text-align: center;
}

.menu-header {
  color: var(--phamento-color);
  text-align: center;
  margin-bottom: 15px;
}
@media(max-width: 575px) {
  #menu-header-toppings {
    font-size: 3.25rem;
  }
}

.menu-price {
  display: inline;
  font-size: 3.25rem;
  margin: 0.5em;
  text-align: center;
}
@media(max-width: 575px) {
  .menu-price {
    font-size: 2.5rem;
    margin: 0.25em;
  }
}

.price {
  color: var(--phamento-color);
}

.menu-grid {
  font-size: 3rem;
  margin-top: 50px;
  margin-bottom: 50px;
}
@media(max-width: 575px) {
  .menu-grid {
    font-size: 2.5rem;
  }
}

.menu-grid-blocks {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  text-align: center;
  gap: 0 1em;
}

.menu-grid-col {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-bottom: 50px;
}
@media(max-width: 575px) {
  .menu-grid-col {
    gap: 30px;
    margin-bottom: 75px;
  }
}

.menu-drinks-type {
  color: var(--phamento-color);
}

#menu-grid-coffee {
  gap: 1em;
}

.menu-coffee-name {
  word-wrap: break-word;
}

.menu-biotee-type {
  font-family: "sofia-pro-bold";
}

.biotee-name {
  text-align: right;
}

.menu-dot {
  border-bottom: dotted 3px orange;
  width: auto;
  height: 12px;
  margin: 0 5px 0 5px;
}

#contact-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#logo-contact {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 3rem;
}

.contact-header {
  font-size: 3.5rem;
  color: var(--phamento-color);
  margin-bottom: 15px;
}
@media(max-width: 575px) {
  .contact-header {
    font-size: 3rem;
  }
}

@media(max-width: 767px) {
  .contact-block {
    text-align: center;
    margin-bottom: 40px;
  }
}

.contact-line {
  font-size: 1.75rem;
  line-height: 1.6;
  color: rgb(65, 65, 65);
}

#footer {
  background-color: var(--phamento-color);
}

#footer-content {
  color: white;
  font-size: 2rem;
  text-align: center;
}
@media(max-width: 575px) {
  #footer-content {
    font-size: 1.5rem;
  }
}